<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
       xmlns:aop="http://www.springframework.org/schema/aop" 
       xmlns:tx="http://www.springframework.org/schema/tx" 
       xmlns:context="http://www.springframework.org/schema/context" 
       xmlns:mvc="http://www.springframework.org/schema/mvc" 
       xmlns:p="http://www.springframework.org/schema/p" 
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd 
 http://www.springframework.org/schema/tx 
 http://www.springframework.org/schema/tx/spring-tx.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context.xsd 
http://www.springframework.org/schema/aop 
http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/mvc
http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd"
> 
    
    <context:component-scan base-package="com"  />
    
    <bean id="idBeanMiembroDepDisciplina" class="com.implementaciones.Investigador">
        <property name="desicionAdministrativa" value="Sancionar profesores"/>
        
        <property name="iConsejoInvestigacion">
            <bean class="com.implementaciones.DepDisciplinaImpl"/>
        </property>
        
    </bean>
    
    
    <!--<aop:config>
        <aop:aspect id="idAspect" ref="estudiante">
    
            <aop:pointcut expression="execution(* com.implementaciones.Profesor.ejecutar(..))" id="idPoincut"/>
            <aop:before pointcut-ref="idPoincut" method="sentarse" />
            <aop:before pointcut-ref="idPoincut" method="apagarcelulares" />
            <aop:after-returning pointcut-ref="idPoincut"  method="realizarPreguntas" />
            <aop:after-throwing pointcut-ref="idPoincut" method="salirDelAula"/>
        </aop:aspect>
    </aop:config>-->
    <!--ejercicio con around
    <aop:config>
        <aop:aspect id="idAspect" ref="estudiante">
    
            <aop:pointcut expression="execution(* com.implementaciones.Profesor.ejecutar(..))" id="idPointcut"/>
            <aop:around pointcut-ref="idPointcut"  method="monitorearClasesMatematica"/>
        </aop:aspect>
    </aop:config>-->
    
    <!--ejercicio con around para muchas funciones en una clase
    <aop:config>
        <aop:aspect id="idAspect" ref="estudiante">
    
            <aop:pointcut expression="execution(* com.implementaciones.Profesor.*(..))" id="idPointcut"/>
            <aop:around pointcut-ref="idPointcut"  method="monitorearClasesMatematica"/>
        </aop:aspect>
    </aop:config>-->
    
    
    <!--ejercicio con around para muchas funciones dentro de un paquete
    <aop:config>
        <aop:aspect id="idAspect" ref="estudiante">
    
            <aop:pointcut expression="execution(* com.implementaciones.*.*(..))" id="idPointcut"/>
            <aop:around pointcut-ref="idPointcut"  method="monitorearClasesMatematica"/>
        </aop:aspect>
    </aop:config>-->
    
    
    <!--ejercicio con around para muchas funciones dfiltros con nombre-->
    <aop:config>
        <aop:aspect id="idAspect" ref="estudiante">
    
            <aop:pointcut expression="execution(* com.implementaciones.Profesor.enviarC*(..))" id="idPointcut"/>
            <aop:around pointcut-ref="idPointcut"  method="monitorearClasesMatematica"/>
        </aop:aspect>
    </aop:config>

</beans>
